.header {
  background-color: #71984a;
  height: 2em;
  padding: 1em;
}

.header > nav {
  display: flex;
}

.navLink {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding-right: 2em;
}

:global .page {
  text-align: center;
}
