.products {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
  padding: 1em;
 margin-bottom:2em
}

.products li {
  border: 3px solid #71984a;
  border-radius: 0.2em;
  text-align: left;
  padding: 1em;
}

.product {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  max-height: 300px;
}

.product figure {
  margin: 1em;
}

.product img {
  max-width: 500px;
  width: 80%;
}

.caption {
  font-size: 0.6em;
}
